
/* 2 Column Layout */

div.col_1_of_2 {
	width: 25%
}

div.col_2_of_2 {
	width: 75%
}


/* 3 Column Layout */

div.col_1_of_3 {
	width: 33%
}

div.col_2_of_3 {
	width: 33%
}

div.col_3_of_3 {
	width: 33%
}


/* 6 Column Layout */

div.col_1_of_6 {
	width: 15%
}

div.col_2_of_6 {
	width: 15%
}

div.col_3_of_6 {
	width: 15%
}

div.col_4_of_6 {
	width: 15%
}

div.col_5_of_6 {
	width: 15%
}

div.col_6_of_6 {
	width: 15%
}