* {
	margin: 0 auto;
	padding: 0;
}

body {
	margin: 16px 32px 16px 32px;
}

.logo {
	float: left;
	margin: 0;
	padding: 0;
}

nav.top-nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 24px;
	text-align: justify;
}

nav.top-nav li {
	float: left;
	list-style-type: none;
	margin: 50px 25px 0px 25px;
}

nav.top-nav li a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: black;
	padding-left: 25px
}

h1, h2 {
	font-size: 32px;
	clear: both;
	float: left;
	width: 100%;
	text-align: center;
	background-color: red;
}

h2 {
	font-size: 24px;
}

h3 {
	clear: both;
	float: left;
}

img.competition {
	clear: both;
	float: left;
}

p {
	clear: both;
}

.side-nav {
	clear: both;
	float: left;
	display: inline-block;
	background-color: red;
}

.social-nav {
	clear: both;
	float: left;
	display: inline-block;
	background-color: grey;
}

.bottom-nav {
	clear: both;
	float: left;
	display: inline-block;
	background-color: grey;
}*/
